.candidate-details-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;

  .page-header {
    background-color: #2b90d9;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    p {
      margin: 10px 0;
      font-size: 16px;
    }

    .status {
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 5px;

      &.active {
        background-color: #fff;
        color: #2ecc71;
      }

      &.suspended {
        background-color: #fbe3d8;
        color: #f1c40f;
      }

      &.flagged {
        background-color: #ffd7d7;
        color: #e74c3c;
      }
    }
  }

  .candidate-profile {
    padding: 20px;

    h3 {
      margin: 0 0 10px 0;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      margin: 10px 0;
      font-size: 16px;
    }
  }

  .resumes {
    padding: 20px;

    h3 {
      margin: 0 0 10px 0;
      font-size: 18px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 10px;
        border-bottom: 1px solid #ddd;

        &:last-child {
          border-bottom: none;
        }

        i {
          margin-right: 10px;
        }

        button {
          float: right;
          background-color: #333;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .applied-jobs {
    padding: 20px;

    h3 {
      margin: 0 0 10px 0;
      font-size: 18px;
      font-weight: bold;
    }

    .job-card {
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-bottom: 20px;

      h4 {
        margin: 0 0 10px 0;
        font-size: 16px;
        font-weight: bold;
      }

      p {
        margin: 10px 0;
        font-size: 16px;
      }

      button {
        background-color: #2b90d9;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .app-footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;

    p {
      margin: 0;
      font-size: 14px;
    }

    .footer-links {
      margin-top: 10px;

      a {
        text-decoration: none;
        color: #333;
        margin: 0 10px;
      }
    }
  }
}

.action-back-container {
     margin-bottom: 20px;
     font-family: 'Poppins', sans-serif;
    .back-text {
      color: #4cafef;
      font-weight: 500;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 5px;
      i {
        font-size: 1rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }